*.fastq*
!test_R*.fastq.gz
!test_R*.fastq
!UMI*.fastq.gz
__pycache__/*
/__pycache__
Output*/
*~*
.*/
L0021_S3_L001_R*_001.fastq.gz
!fwd_reads.fastq
!rev_reads.fastq
*merged.csv
MLE/mle.*
Maps/
Match*
output*
*.out
MLE/__pycache__/
maps*
Test*/