[Parameters]
use_multiprocessing: True
min_quality: 10
fastq_file_dir: './Test2'
output_dir: './maps'
gene_min_quality: 15

[Barcode]
barcode: "HHDBVHDBVHDBVHDBVHDB"
barcode_min_quality: 20
vh_or_vl: "VH"
# for all wild types
wt_csv: './WT/wt_with_COV2.csv'
count_threshold: 25
frequency_threshold: 0.0001
encoded_positions: False
mutations: "all"

[Samples]
# merge each of these for each amplicon length, put all together into one df
VH2:    'MBK-2_S2_L001_R1_001.fastq.gz', 'MBK-2_S2_L001_R2_001.fastq.gz'
VH4:    'MBK-4_S4_L001_R1_001.fastq.gz', 'MBK-4_S4_L001_R2_001.fastq.gz'
VH6:	'MBK-6_S6_L001_R1_001.fastq.gz', 'MBK-6_S6_L001_R2_001.fastq.gz'
VH8:	'MBK-8_S8_L001_R1_001.fastq.gz', 'MBK-8_S8_L001_R2_001.fastq.gz'
VH10:	'MBK-10_S10_L001_R1_001.fastq.gz', 'MBK-10_S10_L001_R2_001.fastq.gz'

[Experiments]
Test: 'VH2', 'VH4', 'VH6', 'VH8', 'VH10'

[Proteins]
Test: 'VH2', 'VH4', 'VH6', 'VH8', 'VH10'