[Parameters]
use_multiprocessing: True
min_quality: 10
fastq_file_dir: './Test2'
output_dir: './maps'
gene_min_quality: 15

[Barcode]
barcode: "HHDBVHDBVHDBVHDBVHDB"
barcode_min_quality: 20
vh_or_vl: "VL"
# for all wild types
wt_csv: './WT/wt_with_COV2.csv'
count_threshold: 25
frequency_threshold: 0.0001
encoded_positions: False
mutations: "all"

[Samples]
VL1:    'MBK-1_S1_L001_R1_001.fastq.gz', 'MBK-1_S1_L001_R2_001.fastq.gz'
VL3:    'MBK-3_S3_L001_R1_001.fastq.gz', 'MBK-3_S3_L001_R2_001.fastq.gz'
VL5:	'MBK-5_S5_L001_R1_001.fastq.gz', 'MBK-5_S5_L001_R2_001.fastq.gz'
VL7:	'MBK-7_S7_L001_R1_001.fastq.gz', 'MBK-7_S7_L001_R2_001.fastq.gz'
VL9:	'MBK-9_S9_L001_R1_001.fastq.gz', 'MBK-9_S9_L001_R2_001.fastq.gz'

[Experiments]
Test: 'VL1', 'VL3', 'VH5', 'VH7', 'VH9'

[Proteins]
Test: 'VL1', 'VL3', 'VH5', 'VH7', 'VH9'