[Parameters]
use_multiprocessing: True
min_quality: 20
max_mismatches: 0
fastq_file_dir: './sequencing_files'
output_dir: './testing'

[Barcode]
wt_csv: './wt.csv'
barcode_min_quality: 0
merge_only: yes

[Samples]
MergeTest_VH:    '1000_R1_VH.fastq.gz', '1000_R2_VH.fastq.gz'
MergeTest_VL:    '1000_R1_VL.fastq.gz', '1000_R2_VL.fastq.gz'

[Experiments]
Test: 'MergeTest_VH', 'MergeTest_VL'

[Proteins]
Test: 'MergeTest', 