[Parameters]
use_multiprocessing: True
min_quality: 20
max_mismatches: 0
fastq_file_dir: './sequencing_files'
output_dir: './testing'

[Barcode]
barcode: ""
vh_or_vl: "VH"
barcode_min_quality: 20
wt_csv: "wt.csv"

[Samples]
BarcodeTest:    '1000_R1.fastq.gz', '1000_R2.fastq.gz'

[Experiments]
Test: 'BarcodeTest'

[Proteins]
Test: 'BarcodeTest', 