[Parameters]
use_multiprocessing: True
map_file_path: './maps/vhvl.csv'
fastq_file_dir: './seqs'
output_dir: './output'
template: 'HHDBVHDBVHDBVHDBVHDB'
barcode_start: 15
limit_csv_path: './limits/limit.csv'

[Samples]
# These first two samples must be commented out before running MLE.
# However, the reference sample must be used to generate the output file once.
ref:                 'MBK-1_S1_L001_R1_001.fastq.gz'
single_cells:        'MBK-2_S2_L001_R1_001.fastq.gz'
conc5nM_bintop25:       'MBK-14_S14_L001_R1_001.fastq.gz'