[Parameters]
use_multiprocessing: True
min_quality: 20
fastq_file_dir: './Test1'
output_dir: './Output_VH'

[Barcode]
amplen: 445
barcode: "HHDBVHDBVHDBVHDBVHDB"
barcode_start: 12
barcode_end: 32
barcode_min_quality: 30
vh_or_vl: "VH"
gene_start: 39
gene_end: 423
wt_csv: '4A8_wt.csv'

[Samples]
4A8VH8:    '1329-08-MBK-8_S8_L001_R1_001.fastq.gz', '1329-08-MBK-8_S8_L001_R2_001.fastq.gz'
4A8VH10:    '1329-10-MBK-10_S10_L001_R1_001.fastq.gz', '1329-10-MBK-10_S10_L001_R2_001.fastq.gz'
4A8VH12:    '1329-12-MBK-12_S12_L001_R1_001.fastq.gz', '1329-12-MBK-12_S12_L001_R2_001.fastq.gz'
4A8VH14:    '1329-14-MBK-14_S14_L001_R1_001.fastq.gz', '1329-14-MBK-14_S14_L001_R2_001.fastq.gz'

[Experiments]
Test: '4A8VH8', '4A8VH10', '4A8VH12', '4A8VH14'

[Proteins]
Test: '4A8VH8', '4A8VH10', '4A8VH12', '4A8VH14'