[Parameters]
use_multiprocessing: True
map_file_path: './Output_test/4A8_map.csv'
fastq_file_dir: './Test1'
output_dir: './Output_test'
template: 'HHDBVHDBVHDBVHDBVHDB'
barcode_start: 15
limit_csv_path: './limit.csv'
B: 350
sigma: 1.02
gene: 4A8

[Samples]
ref:                 'MBK-4_S4_L001_R1_001.fastq.gz'
#all_cells:           'MBK-1_S1_L001_R1_001.fastq.gz'
#single_cells:        'MBK-2_S2_L001_R1_001.fastq.gz'
#fitc-neg:            'MBK-3_S3_L001_R1_001.fastq.gz'
#fitc-pos:            'MBK-4_S4_L001_R1_001.fastq.gz'
#fitc-low33:          'MBK-5_S5_L001_R1_001.fastq.gz'
#fitc-mid33:          'MBK-6_S6_L001_R1_001.fastq.gz'
#fitc-high33:         'MBK-7_S7_L001_R1_001.fastq.gz'
conc0nM_bintop25:       'MBK-8_S8_L001_R1_001.fastq.gz'
conc0nM_binnext25:      'MBK-9_S9_L001_R1_001.fastq.gz'
conc1nM_bintop25:       'MBK-10_S10_L001_R1_001.fastq.gz'
conc1nM_binnext25:      'MBK-11_S11_L001_R1_001.fastq.gz'
conc2.5nM_bintop25:     'MBK-12_S12_L001_R1_001.fastq.gz'
conc2.5nM_binnext25:    'MBK-13_S13_L001_R1_001.fastq.gz'
conc5nM_bintop25:       'MBK-14_S14_L001_R1_001.fastq.gz'
conc5nM_binnext25:      'MBK-15_S15_L001_R1_001.fastq.gz'
conc10nM_bintop25:      'MBK-16_S16_L001_R1_001.fastq.gz'
conc10nM_binnext25:     'MBK-17_S17_L001_R1_001.fastq.gz'
#conc25nM_bintop25:      'MBK-18_S18_L001_R1_001.fastq.gz'
#conc25nM_binnext25:     'MBK-19_S19_L001_R1_001.fastq.gz'
conc50nM_bintop25:      'MBK-20_S20_L001_R1_001.fastq.gz'
conc50nM_binnext25:     'MBK-21_S21_L001_R1_001.fastq.gz'
conc100nM_bintop25:     'MBK-22_S22_L001_R1_001.fastq.gz'
conc100nM_binnext25:    'MBK-23_S23_L001_R1_001.fastq.gz'
conc250nM_bintop25:     'MBK-24_S24_L001_R1_001.fastq.gz'
conc250nM_binnext25:    'MBK-25_S25_L001_R1_001.fastq.gz'
conc500nM_bintop25:     'MBK-26_S26_L001_R1_001.fastq.gz'
conc500nM_binnext25:    'MBK-27_S27_L001_R1_001.fastq.gz'
conc1000nM_bintop25:    'MBK-28_S28_L001_R1_001.fastq.gz'
conc1000nM_binnext25:   'MBK-29_S29_L001_R1_001.fastq.gz'
conc2000nM_bintop25:    'MBK-30_S30_L001_R1_001.fastq.gz'
conc2000nM_binnext25:   'MBK-31_S31_L001_R1_001.fastq.gz'