[Parameters]
use_multiprocessing: True
max_mismatches: 0
min_quality: 5
fastq_file_dir: './Test2'
output_dir: './maps_final'
gene_min_quality: 10

[Barcode]
barcode: "HHDBVHDBVHDBVHDBVHDB"
barcode_min_quality: 15
vh_or_vl: "VL"
# for all wild types
wt_csv: './WT/wt.csv'
count_threshold: 25
frequency_threshold: 0.0001
mutations: "all"
encoded_positions: False

[Samples]
VL1:    'MBK-1_S1_L001_R1_001.fastq.gz', 'MBK-1_S1_L001_R2_001.fastq.gz'
VL3:    'MBK-3_S3_L001_R1_001.fastq.gz', 'MBK-3_S3_L001_R2_001.fastq.gz'
# VL5:	'MBK-5_S5_L001_R1_001.fastq.gz', 'MBK-5_S5_L001_R2_001.fastq.gz'
# VL7:	'MBK-7_S7_L001_R1_001.fastq.gz', 'MBK-7_S7_L001_R2_001.fastq.gz'
# VL9:	'MBK-9_S9_L001_R1_001.fastq.gz', 'MBK-9_S9_L001_R2_001.fastq.gz'
# VL5_rep2:  'MBK-1_S1_L001_R1_001.fastq.gz', 'MBK-1_S1_L001_R2_001.fastq.gz'
# VL9_rep2:  'MBK-3_S1_L001_R1_001.fastq.gz', 'MBK-3_S1_L001_R2_001.fastq.gz'

[Experiments]
Test: 'VL1', 'VL3' # 'VL7', 'VL9'

[Proteins]
Test: 'VL1', 'VL3' # 'VL7', 'VL9'