[Parameters]
use_multiprocessing: True
map_file_path: './maps_final/VH2VL1_final.csv'
fastq_file_dir: './Test1_concat'
output_dir: './Match_final_concat'
template: 'HHDBVHDBVHDBVHDBVHDB'
barcode_start: 15
limit_csv_path: './limits/limit_concat.csv'

[Samples]
ref:                    'MBK-4_S4_L001_R1_001.fastq.gz'
conc1nM_bintop25:       '1nM_50_R1.fastq.gz'
conc2.5nM_bintop25:     '2nM_50_R1.fastq.gz'
conc5nM_bintop25:       '5nM_50_R1.fastq.gz'
conc10nM_bintop25:      '10nM_50_R1.fastq.gz'
conc50nM_bintop25:      '50nM_50_R1.fastq.gz'
conc100nM_bintop25:     '100nM_50_R1.fastq.gz'
conc250nM_bintop25:     '250nM_50_R1.fastq.gz'
conc500nM_bintop25:     '500nM_50_R1.fastq.gz'
conc1000nM_bintop25:    '1000nM_50_R1.fastq.gz'
conc2000nM_bintop25:    '2000nM_50_R1.fastq.gz'