[Parameters]
use_multiprocessing: True
map_file_path: '/projects/brpe7306/fab-library-barcoding/CDRH3_Output/map_rep1.csv'
fastq_file_dir: '/projects/brpe7306/fab-library-barcoding/CDRH3_MBK/UMI'
output_dir: '/projects/brpe7306/fab-library-barcoding/CDRH3_Output'
template: 'NNNNNNNNNNNNNNNNNNNN'
barcode_start: 15
limit_csv_path: '/projects/brpe7306/fab-library-barcoding/limits/YL013_limit.csv'

[Samples]
#Rep1:YL013
#ref:                  '1-MBK_S1_L001_R1_001.fastq.gz'
#ref:		          '2-MBK_S2_L001_R1_001.fastq.gz'
#conc2.5nM_bintop25:   '15-MBK_S15_L001_R1_001.fastq.gz'  
#conc2.5nM_binnext25:  '16-MBK_S16_L001_R1_001.fastq.gz'  
#conc10nM_bintop25:    '13-MBK_S13_L001_R1_001.fastq.gz'  
#conc10nM_binnext25:   '14-MBK_S14_L001_R1_001.fastq.gz'   
#conc50nM_bintop25:    '11-MBK_S11_L001_R1_001.fastq.gz'  
#conc50nM_binnext25:   '12-MBK_S12_L001_R1_001.fastq.gz'  
#conc100nM_bintop25:   '9-MBK_S9_L001_R1_001.fastq.gz' 
#conc100nM_binnext25:  '10-MBK_S10_L001_R1_001.fastq.gz' 
#conc500nM_bintop25:   '7-MBK_S7_L001_R1_001.fastq.gz'  
#conc500nM_binnext25:  '8-MBK_S8_L001_R1_001.fastq.gz'  
#conc1000nM_bintop25:  '5-MBK_S5_L001_R1_001.fastq.gz'    
#conc1000nM_binnext25: '6-MBK_S6_L001_R1_001.fastq.gz' 
conc2000nM_bintop25:  '3-MBK_S3_L001_R1_001.fastq.gz'  
#conc2000nM_binnext25: '4-MBK_S4_L001_R1_001.fastq.gz'  

#Rep2:YL014
#ref:		           '17-MBK_S17_L001_R1_001.fastq.gz'
#conc2.5nM_bintop25:   '26-MBK_S26_L001_R1_001.fastq.gz'  
#conc2.5nM_binnext25:  '27-MBK_S27_L001_R1_001.fastq.gz'  
#conc100nM_bintop25:   '24-MBK_S24_L001_R1_001.fastq.gz' 
#conc100nM_binnext25:  '25-MBK_S25_L001_R1_001.fastq.gz' 
#conc500nM_bintop25:   '22-MBK_S22_L001_R1_001.fastq.gz'  
#conc500nM_binnext25:  '23-MBK_S23_L001_R1_001.fastq.gz'  
#conc1000nM_bintop25:  '20-MBK_S20_L001_R1_001.fastq.gz'    
#conc1000nM_binnext25: '21-MBK_S21_L001_R1_001.fastq.gz' 
#conc2000nM_bintop25:  '18-MBK_S18_L001_R1_001.fastq.gz'  
#conc2000nM_binnext25: '19-MBK_S19_L001_R1_001.fastq.gz' 
