[Parameters]
use_multiprocessing: True
max_mismatches: 10
min_quality: 5
fastq_file_dir: '/scratch/alpine/moki5314/MLE_25Feb2023/fab-library-barcoding-main-3/MBK_test_25Feb2023/17Apr'
output_dir: './maps_COV2'
gene_min_quality: 5

[Barcode]
barcode: "HHDBVHDBVHDBVHDBVHDB"
barcode_min_quality: 10
vh_or_vl: "VH"
# for all wild types
wt_csv: './WT/wt_COV2_only.csv'
count_threshold: 25
frequency_threshold: 0.0001

[Samples]
# merge each of these for each amplicon length, put all together into one df
#VH2:    'MBK-2_S2_L001_R1_001.fastq.gz', 'MBK-2_S2_L001_R2_001.fastq.gz'
#VH4:    'MBK-4_S4_L001_R1_001.fastq.gz', 'MBK-4_S4_L001_R2_001.fastq.gz'
#VH6:	'MBK-6_S6_L001_R1_001.fastq.gz', 'MBK-6_S6_L001_R2_001.fastq.gz'
#VH10:	'MBK-10_S10_L001_R1_001.fastq.gz', 'MBK-10_S10_L001_R2_001.fastq.gz'
VH6_rep2:	'MBK-2_S2_L001_R1_001.fastq.gz', 'MBK-2_S2_L001_R2_001.fastq.gz'
VH10_rep2:	'MBK-4_S2_L001_R1_001.fastq.gz', 'MBK-4_S2_L001_R2_001.fastq.gz'

[Experiments]
Test: 'VH6_rep2', 'VH10_rep2' #, 'VH6', 'VH10'

[Proteins]
Test: 'VH6_rep2', 'VH10_rep2' #, 'VH6', 'VH10'